<section class="actor tab super {{tab.cssClass}}" data-group="primary" data-tab="super">
  <div class="super-listitem">
    <div class="diff-label">{{superLabel}}</div>
    <div class="diff-label centre" data-tooltip="{{ localize 'BRP.rangePsyHint'}}">{{ localize 'BRP.range'}}</div>
    <div class="diff-label centre">{{ localize 'BRP.duration'}}</div>
    <div class="diff-label centre" data-tooltip="{{localize 'BRP.ppplHint' label=system.power.labelAbbr}}">{{system.power.labelAbbr}}</div>
    <div class="diff-label centre">{{ localize 'BRP.level'}}</div>
    <div class="diff-label centre" data-tooltip="{{ localize 'BRP.addItem' type=superLabel }}"
      data-action="createDoc" data-document-class="Item" data-type="super">
      <a class="largeIcon"><i class="item-control fas fa-plus"></i></a>
    </div>
  </div>
  <ol class="gr-list">
    {{#each superpowers as |super id|}}
      <li class="item super-listitem" data-item-id="{{super._id}}" data-document-class="Item">
        <div class="rollable" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=../superLabel }}">{{super.name}}</div>
        <div class="centre">{{super.system.range}}</div>
        <div class="centre">{{super.system.duration}}</div>
        <div class="centre">{{super.system.pppl}}</div>
        <div class="centre">{{super.system.level}}</div>
      </li>
    {{/each}}
  </ol>
  <br>
  <div class="failing-listitem">
    <div class="diff-label">{{ localize 'BRP.failing'}}</div>
      <div class="diff-label centre" data-tooltip="{{ localize 'BRP.addItem' type=(localize 'TYPES.Item.failing') }}"
        data-action="createDoc" data-document-class="Item" data-type="failing">
        <a class="largeIcon"><i class="item-control fas fa-plus"></i></a>
      </div>
  </div>
  <ol class="gr-list">
    {{#each failings as |failing id|}}
      <li class="item failing-listitem" data-item-id="{{failing._id}}" data-document-class="Item">
        {{#if (eq failing.system.shortDesc '')}}
          <div class="rollable" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=(localize 'TYPES.Item.failing')}}">{{failing.name}}</div>
        {{else}}
          <div class="rollable" data-action="viewDoc" data-tooltip="{{localize 'BRP.viewSpell' type=(localize 'TYPES.Item.failing')}}">{{failing.system.shortDesc}}</div>
        {{/if}}
      </li>
    {{/each}}
  </ol>
</section>