<div class="brp settingsForm flexcol" autocomplete="off">
  <h2 class="bold">{{localize 'BRP.Settings.brpidOptions'}}</h2>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.actorBRPID'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input type="checkbox" {{checked optSet.actorBRPID.value}} name="actorBRPID">
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.actorBRPIDHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.itemBRPID'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input type="checkbox" {{checked optSet.itemBRPID.value}} name="itemBRPID">
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.itemBRPIDHint'}}</p>
  </div>


  {{!--
    <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.firstAidBRPID'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="firstAidBRPID" type="text" value="{{optSet.firstAidBRPID.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.firstAidBRPIDHint'}}</p>
  </div> --}}

  <br>
<div>