<div class="brp settingsForm flexcol" autocomplete="off">
  <h2 class="bold">{{localize 'BRP.Settings.xpOptions'}}</h2>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.autoXP'}}</label>
    <div class="form-fields">
      <select class="centre" name="autoXP" data-dtype="String">
        {{selectOptions optSet.xpOptions selected=optSet.autoXP.value}}
      </select>
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.autoXPHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.xpFormula'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="xpFormula" type="text" value="{{optSet.xpFormula.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.xpFormulaHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.xpFixed'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input class="centre" name="xpFixed" type="text" value="{{optSet.xpFixed.value}}" />
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.xpFixedHint'}}</p>
  </div>

  <div class="form-group">
    <label class="bold">{{localize 'BRP.Settings.xpRollDice'}}</label>
    <div class="form-fields" style="flex: 1;">
      <input type="checkbox" {{checked optSet.xpRollDice.value}} name="xpRollDice">
    </div>
    <p class="settingNote">{{localize 'BRP.Settings.xpRollDiceHint'}}</p>
  </div>
  <br>
</div>