<section class="item tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="armour-scores">
    <div class="skill-display">{{localize 'BRP.opposeAlleg'}}</div>
    <div class="weapon-input centre"><input name="system.opposeAlleg" type="text" value="{{item.system.opposeAlleg}}" />
    </div>
  </div>
  <br>

  {{#if hasOwner}}
  <div class="item-title"> {{localize 'BRP.allegPoints'}}:</div>
  <div class="armour-scores">
    <div class="skill-display new-row indent">{{localize 'BRP.base'}}</div>
    <div class="weapon-input centre"><input name="system.allegPoints" type="text" value="{{item.system.allegPoints}}"
        data-dtype="Number" /></div>
    <div class="skill-display indent">{{localize 'BRP.allegImprov'}}</div>
    <div class="weapon-input centre"><input name="system.xp" type="text" value="{{item.system.xp}}"
        data-dtype="Number" />
    </div>
    <div class="skill-display indent">{{localize 'BRP.total'}}</div>
    <div class="weapon-input centre bold tertiary">{{item.system.total}}</div>
    <br>
    <div class="skill-display new-row">{{localize 'BRP.title'}}</div>
    <div class="weapon-input centre"><input name="system.allegTitle" type="text" value="{{item.system.allegTitle}}" />
    </div>
    {{#isOr item.system.potAlly item.system.allegAllied}}
      <br>
      <div class="skill-display new-row">{{localize 'BRP.allegAllied'}}</div>
      <div class="centre itemIcon"><a class="nopad" data-action="itemToggle" data-property="allegAllied"><i
            class="{{#if item.system.allegAllied}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
      </div>
      {{#isAnd item.system.allegAllied (gt item.system.total 99)}}
        <div class="skill-display">{{localize 'BRP.allegApoth'}}</div>
        <div class="centre itemIcon"><a class="nopad" data-action="itemToggle" data-property="allegApoth"><i
              class="{{#if item.system.allegApoth}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
        </div>
      {{/isAnd}}
    {{/isOr}}
    <br>
    <div class="skill-display new-row">{{localize 'BRP.allegEnemy'}}</div>
    <div class="centre itemIcon"><a class="nopad" data-action="itemToggle" data-property="allegEnemy"><i
          class="{{#if item.system.allegEnemy}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
    </div>
    <br>
    <div class="skill-display new-row">{{localize 'BRP.allegCheck'}}</div>
    <div class="centre itemIcon"><a class="nopad" data-action="itemToggle" data-property="improve"><i
          class="{{#if item.system.improve}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a>
    </div>
  </div>
  {{/if}}
</section>