<section class="item tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="powermod-scores">
    <div></div>
    <div class="bold centre">{{localize 'BRP.fixed'}}</div>
    <div></div>
    <div class="bold centre">{{localize 'BRP.random'}}</div>
    {{#if isGM}}
      <div class="skill-display">{{localize 'BRP.av'}}</div>
      <div class="stat-input"><input name="system.av1" type="text" value="{{item.system.av1}}" data-dtype="Number" />
      </div>
      <div></div>
      <div class="stat-input"><input name="system.avr1" type="text" value="{{item.system.avr1}}" /></div>
      {{#if item.system.armBal}}
        <div class="skill-display">{{localize 'BRP.avb'}}</div>
        <div class="stat-input"><input name="system.av2" type="text" value="{{item.system.av2}}" data-dtype="Number" />
        </div>
        <div></div>
        <div class="stat-input"><input name="system.avr2" type="text" value="{{item.system.avr2}}" /></div>
      {{/if}}
    {{else}}
      <div class="skill-display">{{localize 'BRP.av'}}</div>
      <div class="hitloc-display centre boxed">{{item.system.av1}}</div>
      <div></div>
      <div class="hitloc-display centre boxed">{{item.system.avr1}}</div>
      {{#if item.system.armBal}}
        <div class="skill-display">{{localize 'BRP.avb'}}</div>
        <div class="hitloc-display centre boxed">{{item.system.av2}}</div>
        <div></div>
        <div class="hitloc-display centre boxed">{{item.system.avr2}}</div>
      {{/if}}
    {{/if}}
  </div>
  <br>
  <div class="armour-scores">
    {{#if isGM}}
      <div class="skill-display">{{localize 'BRP.burden'}}</div>
      <div class="stat-input-small">
        <select data-handle-change name="system.burden">
          {{selectOptions burdenOptions selected=item.system.burden}}
        </select>
      </div>
      <div class="skill-display">{{localize 'BRP.enc'}}</div>
      <div class="weapon-input"><input name="system.enc" type="text" value="{{item.system.enc}}" data-dtype="Number" />
      </div>
      <div class="skill-display">{{localize 'BRP.fitSIZ'}}</div>
      <div class="weapon-input"><input name="system.sizRng" type="text" value="{{item.system.sizRng}}"
          data-dtype="Number" /></div>
      <div class="skill-display">{{localize 'BRP.time'}}</div>
      <div class="weapon-input"><input name="system.time" type="text" value="{{item.system.time}}" data-dtype="Number" />
      </div>
      {{#if useWealth}}
        <div class="skill-display">{{localize 'BRP.price'}}</div>
        <div class="stat-input-small">
          <select data-handle-change name="system.price">
            {{selectOptions priceOptions selected=item.system.price}}
          </select>
        </div>
      {{else}}
        <div class="skill-display">{{localize 'BRP.price'}} ({{wealthLabel}})</div>
        <div class="weapon-input"><input name="system.cost" type="text" value="{{item.system.cost}}"
            data-dtype="Number" /></div>
      {{/if}}
      <div class="skill-display">{{localize 'BRP.mnplPen'}}</div>
      <div class="weapon-input"><input name="system.mnplmod" type="text" value="{{item.system.mnplmod}}"
          data-dtype="Number" /></div>
      <div class="skill-display">{{localize 'BRP.percPen'}}</div>
      <div class="weapon-input"><input name="system.percmod" type="text" value="{{item.system.percmod}}"
          data-dtype="Number" /></div>
      <div class="skill-display">{{localize 'BRP.physPen'}}</div>
      <div class="weapon-input"><input name="system.physmod" type="text" value="{{item.system.physmod}}"
          data-dtype="Number" /></div>
      <div class="skill-display">{{localize 'BRP.stealthPen'}}</div>
      <div class="weapon-input"><input name="system.stealthmod" type="text" value="{{item.system.stealthmod}}"
          data-dtype="Number" /></div>
      <div class="skill-display">{{localize 'BRP.coverage'}}</div>
      <div class="weapon-input"><input name="system.coverage" type="text" value="{{item.system.coverage}}" /></div>
      {{#if item.system.armVar}}
        <div class="skill-display">{{localize 'BRP.energyMax'}}</div>
        <div class="weapon-input"><input name="system.ppMax" type="text" value="{{item.system.ppMax}}"
            data-dtype="Number" /></div>
      {{/if}}
    {{else}}
      <div class="skill-display">{{localize 'BRP.burden'}}</div>
      <div class="weapon-display centre boxed">{{burdenName}}</div>
      <div class="skill-display">{{localize 'BRP.enc'}}</div>
      <div class="weapon-display centre boxed">{{item.system.enc}}</div>
      <div class="skill-display">{{localize 'BRP.fitSIZ'}}</div>
      <div class="weapon-display centre boxed">{{item.system.sizRng}}</div>
      <div class="skill-display">{{localize 'BRP.time'}}</div>
      <div class="weapon-display centre boxed">{{item.system.time}}</div>
      {{#if useWealth}}
        <div class="skill-display">{{localize 'BRP.price'}}</div>
        <div class="weapon-display centre boxed">{{priceName}}</div>
      {{else}}
        <div class="skill-display">{{localize 'BRP.price'}} ({{wealthLabel}})</div>
        <div class="weapon-display centre boxed">{{item.system.cost}}</div>
      {{/if}}
      <div class="skill-display">{{localize 'BRP.mnplPen'}}</div>
      <div class="weapon-display centre boxed">{{item.system.mnplmod}}</div>
      <div class="skill-display">{{localize 'BRP.percPen'}}</div>
      <div class="weapon-display centre boxed">{{item.system.percmod}}</div>
      <div class="skill-display">{{localize 'BRP.physPen'}}</div>
      <div class="weapon-display centre boxed">{{item.system.physMod}}</div>
      <div class="skill-display">{{localize 'BRP.stealthPen'}}</div>
      <div class="weapon-display centre boxed">{{item.system.stealthMod}}</div>
      <div class="skill-display">{{localize 'BRP.coverage'}}</div>
      <div class="weapon-display centre boxed">{{item.system.coverage}}</div>
      {{#if item.system.armVar}}
        <div class="skill-display">{{localize 'BRP.energyMax'}}</div>
        <div class="weapon-display centre boxed">{{item.system.ppMax}}</div>
      {{/if}}
    {{/if}}
    <div class="skill-display">{{localize 'BRP.ppStoreCurr' label=item.system.powerLabelAbbr}}</div>
    <div class="weapon-input"><input name="system.pSCurr" type="text" value="{{item.system.pSCurr}}"
        data-dtype="Number" /></div>
    <div class="skill-display">{{localize 'BRP.ppStoreMax' label=item.system.powerLabelAbbr}}</div>
    <div class="weapon-input"><input name="system.pSMax" type="text" value="{{item.system.pSMax}}"
        data-dtype="Number" /></div>

  </div>
  <br>

  <div class="item-title"> {{localize 'BRP.options'}}:</div>
  <div class="base-grid">
    <div class="skill-cat {{#if item.system.armBal}} toggle-active  {{/if}}" data-tooltip="{{localize 'BRP.armBalHint'}}"
      data-action="itemToggle" data-property="armBal">{{localize 'BRP.armBal'}}</div>
    <div class="skill-cat {{#if item.system.armVar}} toggle-active  {{/if}}" data-tooltip="{{localize 'BRP.armVarHint'}}"
      data-action="itemToggle" data-property="armVar">{{localize 'BRP.armVar'}}</div>
    <div class="skill-cat {{#if item.system.HPL}} toggle-active  {{/if}}" data-tooltip="{{localize 'BRP.armHPLHint'}}"
      data-action="itemToggle" data-property="HPL">{{localize 'BRP.armHPL'}}</div>
  </div>
  <br>

  {{#if hasOwner}}
    <div class="armour-scores">
      <div class="skill-display" data-tooltip="{{ localize 'BRP.actualENCHint'}}">{{localize 'BRP.actualENC'}}</div>
      <div class="gear-display-plain tertiary">{{item.system.actlEnc}}</div>
      <div class="skill-display">{{localize 'BRP.hit-location'}}</div>
      <div class="stat-input-small">
        <select data-handle-change name="system.hitlocID">
          {{selectOptions hitLocOptions selected=item.system.hitlocID}}
        </select>
      </div>
      <div class="skill-display">{{localize 'BRP.status'}}</div>
      <div class="stat-input-small">
        <select data-handle-change name="system.equipStatus">
          {{selectOptions equippedOptions selected=item.system.equipStatus}}
        </select>
      </div>
      {{#if item.system.armVar}}
        <div class="skill-display">{{localize 'BRP.energyCurr'}}</div>
        <div class="weapon-input"><input name="system.ppCurr" type="text" value="{{item.system.ppCurr}}"
            data-dtype="Number" /></div>
      {{/if}}
    </div>
  {{/if}}
</section>