<section class='item tab effects draggable {{tab.cssClass}}' data-group='primary' data-tab='effects'>
  <div class="bold"> {{localize 'DOCUMENT.ActiveEffects'}}:</div>
  {{#if isGM}}
    <div>
      <div class="base-grid">
        {{#each effectKeys as |name key|}}
          <div class="clickable-button" data-action="addItemEffect" data-key="{{key}}">{{localize name}}</div>
        {{/each}}
      </div>
      <br>
      {{#each effectChanges as |effect|}}
        <div class="effects-list weapon-input active-effect-list active-effect-change-edit" style="align-items: center;"
          data-key="{{effect.key}}">
          <div class="truncate" data-tooltip="{{localize effect.name}}">{{localize effect.name}}</div>
          <select>
            <option value="+">{{localize 'BRP.add'}}</option>
            <option value="-" {{#if effect.negative}} selected="selected" {{/if}}>{{localize 'BRP.subtract'}}</option>
          </select>
          <input type="number" value="{{effect.value}}" />
          <a class="control-button"><i class="item-control fas fa-trash"></i></a>
        </div>
      {{/each}}
    </div>
    {{#if effects}}
      <div class="bottom-line">&nbsp</div>
      <br>
      <div class="bold">{{localize 'BRP.manuallyEditActiveEffects'}}:</div>
      <div class="base-grid">
        {{#each effects as |effect|}}
          <div class="clickable-button" data-action="openActiveEffect" data-uuid="{{effect.uuid}}">{{effect.name}}</div>
        {{/each}}
      </div>
    {{/if}}

  {{else}}
    {{#each effectChanges as |effect|}}
      <div class="effects-list weapon-input active-effect-list active-effect-change-edit" style="align-items: center;"
        data-key="{{effect.key}}">
        <div class="truncate" data-tooltip="{{localize effect.name}}">{{localize effect.name}}</div>
        {{#if effect.negative}}
          <div>-{{effect.value}}</div>
        {{else}}
          <div>{{effect.value}}</div>
        {{/if}}
      </div>
    {{/each}}
  {{/if}}
</section>