{{! GMNotes Tab }}
<section class='item tab gmNotes {{tab.cssClass}}' data-group='primary' data-tab='gmNotes'>
  <div class="bold">{{localize 'BRP.gmNotes'}}</div>
  {{! Editor for description}}
  <div class="description-doc">
     <prose-mirror name="system.gmDescription" data-document-u-u-i-d="{{item.uuid}}" value="{{system.gmDescription}}" collaborate="true" toggled="true">
        {{{enrichedGMDescription}}}
      </prose-mirror>
  </div>
</section>