<section class="item tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="base-grid">
    <div class="item-title"> {{localize 'BRP.type'}}:</div>
    {{#if isGM}}
      <div class="stat-input centre">
        <select class="centre" style="height: 100%;" data-handle-change name="system.impact">
          {{selectOptions catOptions selected=item.system.impact}}
        </select>
      </div>
    {{else}}
      <div class="stat-display boxed">{{catName}}</div>
    {{/if}}
  </div>
  <br>

  <div class="base-grid">
    <div class="item-title"> {{localize 'BRP.category'}}:</div>
    {{#if isGM}}
      <div class="stat-input centre">
        <select class="centre" style="height: 100%;" data-handle-change name="system.category">
          {{selectOptions skillCatOptions selected=item.system.category}}
        </select>
      </div>
    {{else}}
      <div class="stat-display boxed">{{skillCatName}}</div>
    {{/if}}
  </div>
  <br>

  <div class="magic-grid">
    {{#if isGM}}
      <div class="skill-display">{{ localize "BRP.range" }}</div>
      <div class="stat-input"><input name="system.range" type="text" value="{{item.system.range}}" /></div>
      <div class="skill-display">{{ localize "BRP.duration" }}</div>
      <div class="stat-input"><input name="system.duration" type="text" value="{{item.system.duration}}" /></div>
      <div class="skill-display">{{ localize "BRP.cost" }}</div>
      <div class="stat-input"><input name="system.pppl" type="text" value="{{item.system.pppl}}" /></div>
      {{#unless (eq item.system.impact 'other')}}
        <div class="skill-display">{{#if (eq item.system.impact 'damage')}} {{ localize "BRP.damage" }} {{else}} {{ localize
          "BRP.healing" }} {{/if}}</div>
        <div class="stat-input"><input name="system.damage" type="text" value="{{item.system.damage}}" /></div>
      {{/unless}}
    {{else}}
      <div class="skill-display">{{ localize "BRP.range" }}</div>
      <div class="weapon-display centre boxed">{{item.system.range}}</div>
      <div class="skill-display">{{ localize "BRP.duration" }}</div>
      <div class="weapon-display centre boxed">{{item.system.duration}}</div>
      <div class="skill-display">{{ localize "BRP.cost" }}</div>
      <div class="weapon-display centre boxed">{{item.system.pppl}}</div>
      {{#unless (eq item.system.impact 'other')}}
        <div class="skill-display">{{#if (eq item.system.impact 'damage')}} {{ localize "BRP.damage" }} {{else}} {{ localize
          "BRP.healing" }} {{/if}}</div>
        <div class="weapon-display centre boxed">{{item.system.damage}}</div>
      {{/unless}}
    {{/if}}
  </div>
  <br>

  <div class="item-title"> {{localize 'BRP.scores'}}:</div>
  <div class="skill-scores">
    {{#if isGM}}
      <div class="skill-display">{{localize 'BRP.base'}}</div>
      <div class="stat-input"><input name="system.base" type="text" value="{{item.system.base}}" data-dtype="Number" />
      </div>
      {{#if pcOwner}}
        <div class="skill-display">{{localize 'BRP.xp'}}</div>
        <div class="stat-input"><input name="system.xp" type="text" value="{{item.system.xp}}" data-dtype="Number" /></div>
        <div class="skill-display">{{localize 'BRP.profession'}}</div>
        <div class="stat-input"><input name="system.profession" type="text" value="{{item.system.profession}}"
            data-dtype="Number" /></div>
        <div class="skill-display">{{localize 'BRP.personal'}}</div>
        <div class="stat-input"><input name="system.personal" type="text" value="{{item.system.personal}}"
            data-dtype="Number" /></div>
        <div class="skill-display">{{localize 'BRP.personality'}}</div>
        <div class="stat-input"><input name="system.personality" type="text" value="{{item.system.personality}}"
            data-dtype="Number" /></div>
        <div class="skill-display">{{localize 'BRP.culture'}}</div>
        <div class="stat-input"><input name="system.cutlure" type="text" value="{{item.system.culture}}"
            data-dtype="Number" /></div>
        <div class="skill-display">{{localize 'BRP.effects'}}</div>
        <div class="skill-display centre tertiary">{{item.system.effects}}</div>
        <div class="skill-display">{{localize 'BRP.total'}}</div>
        <div class="skill-display centre tertiary">{{item.system.total}}</div>
      {{/if}}
    {{else}}
      <div class="skill-display">{{localize 'BRP.base'}}</div>
      <div class="skill-display centre">{{item.system.base}}</div>
      {{#if hasOwner}}
        <div class="skill-display">{{localize 'BRP.effects'}}</div>
        <div class="skill-display centre bold">{{item.system.effects}}</div>
      {{/if}}
      {{#if pcOwner}}
        <div class="skill-display">{{localize 'BRP.xp'}}</div>
        <div class="skill-display centre bold">{{item.system.xp}}</div>
        <div class="skill-display">{{localize 'BRP.profession'}}</div>
        <div class="skill-display centre bold">{{item.system.profession}}</div>
        <div class="skill-display">{{localize 'BRP.personal'}}</div>
        <div class="skill-display centre bold">{{item.system.personal}}</div>
        <div class="skill-display">{{localize 'BRP.personality'}}</div>
        <div class="skill-display centre bold">{{item.system.personality}}</div>
        <div class="skill-display">{{localize 'BRP.culture'}}</div>
        <div class="skill-display centre bold">{{item.system.culture}}</div>
        <div class="skill-display">{{localize 'BRP.effects'}}</div>
        <div class="skill-display centre  tertiary">{{item.system.effects}}</div>
        <div class="skill-display">{{localize 'BRP.total'}}</div>
        <div class="skill-display centre  tertiary">{{item.system.total}}</div>
      {{/if}}
    {{/if}}
  </div>
  {{#if hasOwner}}
    <br>
    <div class="item-title"> {{localize 'BRP.options'}}:</div>
    <div class="base-grid">
      <div class="skill-cat {{#if item.system.improve}} toggle-active  {{/if}}" data-action="itemToggle" data-property="improve">
        {{localize 'BRP.improve'}}</div>
    </div>
  {{/if}}

</section>