<section class="item tab details {{tab.cssClass}}" data-group="primary" data-tab="details">
  <div class="hitloc-scores">
    <div class="skill-display">{{localize 'BRP.damage'}}</div>
    <div class="stat-input dam-value"><input name="system.value" type="text" value="{{item.system.value}}"
        data-dtype="Number" /></div>
    <br>
    <div class="skill-display new-row">{{localize 'BRP.status'}}</div>
    <div class="skill-cat centre" data-action="itemToggle" data-property="treated">
      {{#if item.system.treated}}
        {{localize 'BRP.treated'}}
      {{else}}
        {{localize 'BRP.untreated'}}
      {{/if}}
    </div>
  </div>
  <br>

</section>